{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/propaganda1.png" width="90px" height="90px">

						</td>
						<td >

                                <span> Smartphone Motorola Novo Moto X Desbloqueado</span>
                                <p>Smartphone Motorola Novo Moto X Desbloqueado..</p>

						</td>
						<td class="col-md-2">
							<h5>R$ 1.499,00</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/propaganda2.jpg" width="90px" height="90px">
						</td>
						<td>
							<span>Smartphone Asus ZenFone 5 A501 c/ Intel Cover Trail Plus 1.6Ghz, Android 4.3, Tela HD 5´, 8GB, Camera 8MP, 3G, Dual Chip, Desbloqueado - Vermelho</span>
                            <p>Smartphone Asus ZenFone 5 A501 c/ Intel Cover Trail Plus 1.6Ghz, Android 4.3, Tela HD 5´, 8GB, Camera 8MP, 3G, Dual Chip, Desbloqueado - Vermelho...</p>
						</td>
						<td >
							<h5>RS 1.849,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/propaganda3.jpg" width="90px" height="90px">
						</td>
						<td>
							<span>  Smartphone LG L Prime TV D337, Processador Quad</span>
                            <p>Smartphone LG L Prime TV D337, Processador Quad Co. ...</p>
						</td>
						<td>
							<h5>RS 497,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/smarthphone4.jpg">
						</td>
						<td>
							<span> Smartphone Asus ZenFone 5 A501 1.2Ghz, 8GB, Preto + Capa Asus Flip View Cover Branco PROMO</span>
                            <p>Smartphone Asus ZenFone 5 A501 1.2Ghz, 8GB, Preto + Capa Asus Flip View Cover Branco PROMO ...</p>
						</td>
						<td>
							<h5>RS 663,05</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/smarthphone5.jpg">
						</td>
						<td>
							<span> Smartphone Samsung Galaxy S5 Mini G800H, Quad Core, Android 4.4, Super Amoled 4.5´, 16GB, 8MP, 3G, Dual Chip, Desbl - Preto</span>
                            <p>Smartphone Samsung Galaxy S5 Mini G800H, Quad Core, Android 4.4, Super Amoled 4.5´, 16GB, 8MP, 3G, Dual Chip, Desbl - Preto</p>
						</td>
						<td>
							<h5>RS 1.117,53</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}