<tr>
    <td><button ng-click="editar(editar_produto.id, $index)" class="btn btn-success btn-sm"><i
    class="glyphicon glyphicon-pencil"></i></button></td>
    <img src="/static/img/ajax.gif" ng-show="ajaxFlag">
    <td>{{ editar_produto.id }}</td>
    <td>{{ editar_produto.creation }}</td>
    <td>{{ editar_produto.nome }}</td>
    <td>{{ editar_produto.titulo }}</td>
    <td>{{ editar_produto.descricao }}</td>
    <td>{{ editar_produto.imagem }}</td>
    <td>{{ editar_produto.preco }}</td>
    <td>

            <button class="btn btn-danger btn-sm" ng-click="deletar(editar_produto.id, $index)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
    </td>
</tr>