{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/servidor1.jpg">

						</td>
						<td >

                                <span>HP Servidor ProLiant ML310e Gen8 V2 E3-1220v3 8GB 500GB 350W 724980-S05</span>
                                <p>HP Servidor ProLiant ML310e Gen8 V2 E3-1220v3 8GB 500GB 350W 724980-S05  ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 2.705,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/servidor2.jpg">
						</td>
						<td>
							<span>  Servidor Lenovo TS140 E3-1225v3 3.2 GHz 4GB 500GB 70A4001YBN</span>
                            <p>Servidor Lenovo TS140 E3-1225v3 3.2 GHz 4GB 500GB 70A4001YBN ..</p>
						</td>
						<td >
							<h5>RS 2.470,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/servidor3.jpg">
						</td>
						<td>
							<span> Servidor Lenovo TS140 TW Xeon E3-1225 V3 3.2GHz 4GB 70A4002DBR</span>
                            <p>Servidor Lenovo TS140 TW Xeon E3-1225 V3 3.2GHz 4GB 70A4002DBR..</p>
						</td>
						<td>
							<h5>RS 3.739,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/servidor4.jpg">
						</td>
						<td>
							<span> Servidor HP V2 E5-2620v2 2.1GHz 8GB LFF 5U ML350p Gen8 761988-S05</span>
                            <p>Servidor HP V2 E5-2620v2 2.1GHz 8GB LFF 5U ML350p Gen8 761988-S05 ...</p>
						</td>
						<td>
							<h5>RS 6.899,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/servidor5.jpg">
						</td>
						<td>
							<span> Servidor Intel 6U com Fonte SC5299DP</span>
                            <p>Servidor Intel 6U com Fonte SC5299DP ..</p>
						</td>
						<td>
							<h5>RS 2,399,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}