{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/computadores1.jpg">

						</td>
						<td >

                                <span> Computador Lenovo 63 TW com Intel Pentium G3220 4GB HD500 GB DVDRW 90AT0003BR</span>
                                <p>Computador Lenovo 63 TW com Intel Pentium G3220 4GB HD500 GB DVDRW 90AT0003BR ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 1.235,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/computadores2.jpg">
						</td>
						<td>
							<span> Computador NTC Intel Core i5-3330, 4GB, HD 1TB, DVD, ASRock, Fonte 350W - 8022 </span>
                            <p>Computador NTC Intel Core i5-3330, 4GB, HD 1TB, DVD, ASRock, Fonte 350W - 8022..</p>
						</td>
						<td >
							<h5>RS 1.607,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/computadores3.jpg">
						</td>
						<td>
							<span> Computador NTC com Intel Core i7 3770, 4GB, HD 1TB, DVD, ASUS H61M-A - 9009</span>
                            <p>Computador NTC com Intel Core i7 3770, 4GB, HD 1TB, DVD, ASUS H61M-A - 9009..</p>
						</td>
						<td>
							<h5>RS 2.149,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/computadores4.jpg">
						</td>
						<td>
							<span> Computador BA7 com AMD FX-6300, 8GB, HD 1TB, ASRock, DVD 002000148</span>
                            <p>Computador BA7 com AMD FX-6300, 8GB, HD 1TB, ASRock, DVD 002000148..</p>
						</td>
						<td>
							<h5>RS 1.619,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/computadores5.jpg">
						</td>
						<td>
							<span>  Computador Positivo Stilo DS3002 com Intel Celeron J1800, 2GB, HD 320GB, DVD, Windows 8.1</span>
                            <p>Computador Positivo Stilo DS3002 com Intel Celeron J1800, 2GB, HD 320GB, DVD, Windows 8.1 1000905 + Óculos 3D..</p>
						</td>
						<td>
							<h5>RS 1.020,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}