{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/monitor1.jpg">

						</td>
						<td >

                                <span> Monitor LG LED 19 Polegadas Dual Smart Solution D-SUB - 20EN33SS </span>
                                <p>Monitor LG LED 19 Polegadas Dual Smart Solution D-SUB - 20EN33SS  ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 366,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/monitor2.jpg">
						</td>
						<td>
							<span>   Monitor Samsung LED 18.5´ Magic Upscale, Mega Dynamic Contrast, ECO Saving S19C301F</span>
                            <p>Monitor Samsung LED 18.5´ Magic Upscale, Mega Dynamic Contrast, ECO Saving S19C301F ..</p>
						</td>
						<td >
							<h5>RS 341,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/monitor3.jpg">
						</td>
						<td>
							<span>  Monitor LG LED LCD 23´ IPS D-Sub, HDMI,Full HD 23MP55HQ-P Preto</span>
                            <p>Monitor LG LED LCD 23´ IPS D-Sub, HDMI,Full HD 23MP55HQ-P Preto..</p>
						</td>
						<td>
							<h5>RS 609,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/monitor4.jpg">
						</td>
						<td>
							<span> Monitor LG 25´ IPS´ UltraWide Dual link DVI, HDMI x2, DP, Split 4-Screen 25UM65</span>
                            <p>Monitor LG 25´ IPS´ UltraWide Dual link DVI, HDMI x2, DP, Split 4-Screen 25UM65 ...</p>
						</td>
						<td>
							<h5>RS 823,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/monitor5.jpg">
						</td>
						<td>
							<span>   Monitor LG LED 21.5´ IPS Full HD HDMI Reader Mode Flicker Safe Super+ Resolution Super Energy Saving 22MP55HQ</span>
                            <p>Monitor LG LED 21.5´ IPS Full HD HDMI Reader Mode Flicker Safe Super+ Resolution Super Energy Saving 22MP55HQ ..</p>
						</td>
						<td>
							<h5>RS 536,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}