{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/propaganda5.jpg" width="90px" height="90px">

						</td>
						<td >

                                <span> Placa de Vídeo VGA MSI GeForce GTX 980</span>
                            <p>Placa de Vídeo VGA MSI GeForce GTX 980..</p>
						</td>
						<td class="col-md-2">
							<h5>R$ 2.999,90</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/vga2.jpg">
						</td>
						<td>
							<span>  Placa de vídeo VGA PNY GeForce GTX650 2GB DDR5 128-Bit PCI-Express 3.0 x16 Video Card VCGGTX650XPB</span>
                            <p>Placa de vídeo VGA PNY GeForce GTX650 2GB DDR5 128-Bit PCI-Express 3.0 x16 Video Card VCGGTX650XPB..</p>
						</td>
						<td >
							<h5>RS 411,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/vga3.jpg">
						</td>
						<td>
							<span>   Placa de Video VGA Gigabyte Geforce GTX970 4GB GDDR5 256 Bits WINDFORCE 3D ready 4K Ready PCI-Express 3.0 GV-N970G1 GAMING-4GD</span>
                            <p>Placa de Video VGA Gigabyte Geforce GTX970 4GB GDDR5 256 Bits WINDFORCE 3D ready 4K Ready PCI-Express 3.0 GV-N970G1 GAMING-4GD..</p>
						</td>
						<td>
							<h5>RS 1.881,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/vga4.jpg">
						</td>
						<td>
							<span> Placa de Vídeo VGA GALAX GeForce GTX960 HOF Black Edition 2GB DDR5 128 Bits 96NPH8DVD9XX</span>
                            <p>Placa de Vídeo VGA GALAX GeForce GTX960 HOF Black Edition 2GB DDR5 128 Bits 96NPH8DVD9XX ...</p>
						</td>
						<td>
							<h5>RS 1.152,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/vga5.jpg">
						</td>
						<td>
							<span>  Placa de Vídeo VGA Sapphire Radeon HD 6970 Dual-X 2GB DDR5 PCI-Express 11187-07-20G</span>
                            <p>Placa de Vídeo VGA Sapphire Radeon HD 6970 Dual-X 2GB DDR5 PCI-Express 11187-07-20G..</p>
						</td>
						<td>
							<h5>RS 619,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}