{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">-->



{% endblock %}

{% block body %}
    <!--carrousel-->
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-771809">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-771809">
					</li>
					<li data-slide-to="1" data-target="#carousel-771809">
					</li>
					<li data-slide-to="2" data-target="#carousel-771809">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="../static/img/caroussel1.png" />
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/img/caroussel2.png" />
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../static/img/Carrousel3.png" />
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>
								
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-771809" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-771809" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>

<div class="container" id="meio">

	<div class="row clearfix" id="menuesquerda">
        <!--começo do menu da coluna a esquerda-->
		<div class="col-md-3 column">
			<ul>
                <li>
                <h3>Celular & Telefone</h3>
                </li>

                {% for i in ('celulares smarthphones smarthphones_acessorios telefone').split(' ')%}
                    <li>
                        <a href='categorias?categorias={{ i }}'>{{ i }}</a>
                    </li>
                {% endfor %}

                <li>
                    <h3>Eletrônicos</h3>
                </li>
                {% for i in ('player_de_midia_hd walk_talk').split(' ')%}
                    <li>
                        <a href='categorias?categorias={{i}}'>{{ i }}</a>
                    </li>
                {% endfor %}

                <li>
                    <h3>Computadores</h3>
                </li>
                {% for i in ('computadores computadores_gamers impressoras monitor notebooks servidores tablets').split(' ')%}
                    <li>
                        <a href='categorias?categorias={{i}}'>{{ i }}</a>
                    </li>
                {% endfor %}

                <li>
                    <h3>Hardware</h3>
                </li>
                {% for i in ('cooler hd ram monitor vga').split(' ')%}
                    <li>
                        <a href='categorias?categorias={{i}}'>{{ i }}</a>
                    </li>
                {% endfor %}

			</ul>
		</div>

		<div class="col-md-6 column" id="destaque">
        {% block meio %}
			<h3>OFERTAS EM DESTAQUE</h3>

			<div class="row">
				<div class="col-md-4">
                    <!--Div responsavel pelas propagandas da coluna do meio-->
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda1.png">
						<div class="caption" >
							<h3>
								Smartphone Motorola Novo Moto X Desbloqueado...
							</h3>
                            <h4>
                                R$1.499,00
                            </h4>
							<p>Com Android 4.4 Tela 5.2" 32GB 4G Wi-Fi Câmera...
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">+ Detalhes</a>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda2.jpg">
						<div class="caption">
							<h3>
								Smarthphone Sony Xperia Z3 D6633, Processador Quad...
							</h3>
                            <h4>
                                R$1.849,90
                            </h4>
							<p>O Xperia Z3 é o Smarthfone que faz mais e vai a...

							<p>
                                <img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar</a> <a class="btn" href="#">+ Detalhes</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" >
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda3.jpg">
						<div class="caption">
							<h3>
								Smartphone LG L Prime TV D337, Processador Quad Co..
							</h3>
                            <h4>
                                R$497,54
                            </h4>
							<p>
								Com o Smartphone LG L Prime - D337 você pode assistir TV com a super tela I..

							<p>
                                <img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar</a> <a class="btn" href="#">+ Detalhes</a>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda4.jpg">
						<div class="caption">
							<h3>
								Tablet Samsung Galaxy Tab 4 SM-T530 Tela 10.1´ com..
							</h3>
                            <h4>
                                R$921,32
                            </h4>
							<p>
								Tablet Samsung Galaxy Tab 4 SM-T530 Tela 10.1´ com Android 4.4, Quad Core 1.
							</p>
							<p>
                                <img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar</a> <a class="btn" href="#">+ Detalhes</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda5.png">
						<div class="caption">
							<h3>
								Placa de Vídeo VGA MSI GeForce GTX 980...
							</h3>
                            <h4>
                                R$2.999,90
                            </h4>
							<p>
								Gaming 4G 4GB DDR5 256 Bits PCI-Express 3.0 x16 912-V317-022...
							</p>
							<p>
                                <img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar</a> <a class="btn" href="#">+ Detalhes</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" >
					<div class="thumbnail" id="colunasmeio">
						<img alt="300x200" src="../static/img/propaganda6.jpg">
						<div class="caption">
							<h3>
								Memória Corsair Vengeance 8GB (2x4GB) ...
							</h3>
                            <h4>
                                R$586,90
                            </h4>
							<p>
								2400MHz Red CMY8GX3M2A2400C11 RRed CMY8GX3M2A2400C11R ...
							</p>
							<p>
                                <img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar</a> <a class="btn" href="#">+ Detalhes</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 column">

			<!--HUEHUEHUE--><br><br><br><br>
            <a href="http://www.kabum.com.br/download/cdc/CODIGO_DE_DEFESA_DO_CONSUMIDOR.zip" target="_self">
                <img src="../static/img/codigo_de_defesa_img.png" align="right" width="154">
            </a>
		</div>
        {% endblock %}

        </div>
	</div>
</div>



{% endblock %}