{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/cooler1.jpg">

						</td>
						<td >

                                <span> DeepCool Cooler 12x12cm Super Silent Big Airflow Blue LED XFAN120L/B</span>
                            <p>DeepCool Cooler 12x12cm Super Silent Big Airflow Blue LED XFAN120L/B..</p>
						</td>
						<td class="col-md-2">
							<h5>R$ 23,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/cooler2.jpg">
						</td>
						<td>
							<span>   Cougar Cooler Fan Dual-X 120x120x25mm Blue LED CF-D12HB-B</span>
                            <p>Cougar Cooler Fan Dual-X 120x120x25mm Blue LED CF-D12HB-B ..</p>
						</td>
						<td >
							<h5>RS 40,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/cooler3.jpg">
						</td>
						<td>
							<span> DeepCool Cooler 8x8cm Super Silent Big Airflow XFAN80</span>
                            <p>DeepCool Cooler 8x8cm Super Silent Big Airflow XFAN80..</p>
						</td>
						<td>
							<h5>RS 11,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/cooler4.jpg">
						</td>
						<td>
							<span> Cooler CoolerMaster Notepal R9-NBC-BWCB-GP Infinite Preto e Prata</span>
                            <p>Cooler CoolerMaster Notepal R9-NBC-BWCB-GP Infinite Preto e Prata ...</p>
						</td>
						<td>
							<h5>RS 55,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/cooler5.jpg">
						</td>
						<td>
							<span>Spire Cooler FAN 120 x 120 x 25 mm SP12025S3H3/4- PCI Blue</span>
                            <p>Spire Cooler FAN 120 x 120 x 25 mm SP12025S3H3/4- PCI Blue ..</p>
						</td>
						<td>
							<h5>RS 21,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}