{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/propaganda6.jpg" width="90px" height="90px">

						</td>
						<td >

                                <span> Memória Corsair Vengeance 8GB (2x4GB)</span>
                            <p>Memória Corsair Vengeance 8GB (2x4GB).</p>
						</td>
						<td class="col-md-2">
							<h5>R$ 586,90</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/ram2.jpg">
						</td>
						<td>
							<span> Memória Corsair 4GB DDR3 1600MHz CMV4GX3M1A1600C11</span>
                            <p>Memória Corsair 4GB DDR3 1600MHz CMV4GX3M1A1600C11 ..</p>
						</td>
						<td >
							<h5>RS 199,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/ram3.jpg">
						</td>
						<td>
							<span>  Memória Corsair Vengeance 4Gb 1600MHz DDR3 Preto CMZ4GX3M1A1600C9</span>
                            <p>Memória Corsair Vengeance 4Gb 1600MHz DDR3 Preto CMZ4GX3M1A1600C9..</p>
						</td>
						<td>
							<h5>RS 229,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/ram4.jpg">
						</td>
						<td>
							<span> Memória Corsair 4096 MB (4GB) 1333MHZ DDR3 - CMV4GX3M1A1333C9</span>
                            <p>Memória Corsair 4096 MB (4GB) 1333MHZ DDR3 - CMV4GX3M1A1333C9 ...</p>
						</td>
						<td>
							<h5>RS 199,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/ram5.jpg">
						</td>
						<td>
							<span> Memória Corsair Vengeance 4GB (2x2GB) 1600 Mhz DDR3 - CMZ4GX3M2A1600C9</span>
                            <p>Memória Corsair Vengeance 4GB (2x2GB) 1600 Mhz DDR3 - CMZ4GX3M2A1600C9  ..</p>
						</td>
						<td>
							<h5>RS 217,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}