{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/gamers1.jpg">

						</td>
						<td >

                                <span>  Computador X5 Gamer AMD FX 6300, 8GB, HD 1TB, DVD-RW, R7 250 1GB, Windows 8.1 4361</span>
                                <p>Computador X5 Gamer AMD FX 6300, 8GB, HD 1TB, DVD-RW, R7 250 1GB, Windows 8.1 4361 ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 3.733,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/gamers2.jpg">
						</td>
						<td>
							<span>  Computador Gamer SYRIUS Blade Intel Pentium 3.0 Ghz Mem. 4GB HD 500GB MB ASUS GTX 750 MVSBPE5007504</span>
                            <p>Computador Gamer SYRIUS Blade Intel Pentium 3.0 Ghz Mem. 4GB HD 500GB MB ASUS GTX 750 MVSBPE5007504..</p>
						</td>
						<td >
							<h5>RS 2.349,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/gamers3.jpg">
						</td>
						<td>
							<span> Computador NTC com Intel Core i7 3770, 4GB, HD 1TB, DVD, ASUS H61M-A - 9009</span>
                            <p>Computador NTC com Intel Core i7 3770, 4GB, HD 1TB, DVD, ASUS H61M-A - 9009..</p>
						</td>
						<td>
							<h5>RS 2.149,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/gamers4.jpg">
						</td>
						<td>
							<span> Computador X5 Gamer Intel i7 4790, 8GB, HD 1TB, DVD-RW, GT 720 2GB, Windows 8.1 4172</span>
                            <p>Computador X5 Gamer Intel i7 4790, 8GB, HD 1TB, DVD-RW, GT 720 2GB, Windows 8.1 4172..</p>
						</td>
						<td>
							<h5>RS 5.089,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/gamers5.jpg">
						</td>
						<td>
							<span>   Computador X5 Gamer com AMD FX-4300, 8GB, HD 1TB, SSD 60GB, DVD-RW, Radeon R7 250 1GB 3135</span>
                            <p>Computador X5 Gamer com AMD FX-4300, 8GB, HD 1TB, SSD 60GB, DVD-RW, Radeon R7 250 1GB 3135..</p>
						</td>
						<td>
							<h5>RS 3.784,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}