{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/tablet1.jpg">

						</td>
						<td >

                                <span>Tablet Acer Iconia One 7 B1-730 8GB, Wi-Fi, Tela 7´ com Android 4.4, Intel Atom 1.6GHz, 1GB RAM, Câmera 2MP, Preto</span>
                                <p>Tablet Acer Iconia One 7 B1-730 8GB, Wi-Fi, Tela 7´ com Android 4.4, Intel Atom 1.6GHz, 1GB RAM, Câmera 2MP, Preto ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 352,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/tablet2.jpg">
						</td>
						<td>
							<span>  Tablet MIT Tela 7´ IPS, resolução 1280*800, Dual Cortex A9 1.6GHz, DDR3 1GB, 8GB, mini-HDMI, 2 câmeras 2mp/5mp, Android 4.1, GGR66-71280A Cinza</span>
                            <p>Tablet MIT Tela 7´ IPS, resolução 1280*800, Dual Cortex A9 1.6GHz, DDR3 1GB, 8GB, mini-HDMI, 2 câmeras 2mp/5mp, Android 4.1, GGR66-71280A Cinza ..</p>
						</td>
						<td >
							<h5>RS 2.470,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/propaganda4.jpg" width="90px" height="90px">
						</td>
						<td>
							<span> Tablet Samsung Galaxy Tab 4 SM-T530 Tela 10.1´ com.. </span>
                            <p>Tablet Samsung Galaxy Tab 4 SM-T530 Tela 10.1´ com.. </p>
						</td>
						<td>
							<h5>R$ 921,32</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/tablet4.jpg">
						</td>
						<td>
							<span> Kindle 7ª Geração com Tela 6´, Wi-Fi, 4GB</span>
                            <p>Kindle 7ª Geração com Tela 6´, Wi-Fi, 4GB ...</p>
						</td>
						<td>
							<h5>RS 299,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/tabçet5.jpg">
						</td>
						<td>
							<span>  Tablet Mit Tech Tela 9´ com Android, Processador Dual rockchip rk3026 1.0GHz, Câmera 2MP, DDR3 1GB, 16GB R2616G-94600 Branco</span>
                            <p>Tablet Mit Tech Tela 9´ com Android, Processador Dual rockchip rk3026 1.0GHz, Câmera 2MP, DDR3 1GB, 16GB R2616G-94600 Branco ..</p>
						</td>
						<td>
							<h5>RS 294,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}