{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/celular1.jpg">

						</td>
						<td >

                                <span>Multilaser Celular MAX II - 4 Chips Ativos Acesso WAP, MP3, Rádio FM e Bluetooth Branco/Rosa P3298</span>
                                <p>Multilaser Celular MAX II - 4 Chips Ativos Acesso WAP, MP3, Rádio FM e Bluetooth Branco/Rosa P3298..

						</td>
						<td class="col-md-2">
							<h5>R$ 111,90</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/celular2.jpg">
						</td>
						<td>
							<span>Celular Nokia 208 Dual Chip com Câmera 1.3MP, MP3, Preto (Desbloqueado)</span>
                            <p>NOKIA 208 COM DOIS CHIPS. Navegação rápida, compartilhamento fácil...</p>
						</td>
						<td >
							<h5>RS 199,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/celular3.jpg">
						</td>
						<td>
							<span> Celular Multilaser Max II Quadri Chip, Câmera Rádio FM, Bluetooth P3270 Preto/Cinza</span>
                            <p>Celular Multilaser Max II Quadri Chip, Câmera Rádio FM, Bluetooth P3270 Preto/Cinza</p>
						</td>
						<td>
							<h5>RS 101,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/celular4.jpg">
						</td>
						<td>
							<span> Celular Blu Tank Dual Chip Bluetooth Câmera VGA MicroSD T191 Branco e Azul Elétrico Desbloqueado</span>
                            <p>Celular Blu Tank Dual Chip Bluetooth Câmera VGA MicroSD T191 Branco e Azul Elétrico Desbloqueado</p>
						</td>
						<td>
							<h5>RS 115,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/celular5.jpg">
						</td>
						<td>
							<span> Celular Nokia Asha 230 Dual Chip Preto com Câmera 1.3MP (TIM Desbloqueado)</span>
                            <p>Celular Nokia Asha 230 Dual Chip Preto com Câmera 1.3MP (TIM Desbloqueado)</p>
						</td>
						<td>
							<h5>RS 183,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}