{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/notebook1.jpg">

						</td>
						<td >

                                <span>Notebook Acer Aspire com Intel Celeron N2820, 4GB, HD 500GB, Windows 8.1, LED HD 15.6´ E1-510-2455</span>
                                <p>Notebook Acer Aspire com Intel Celeron N2820, 4GB, HD 500GB, Windows 8.1, LED HD 15.6´ E1-510-2455  ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 1.3664,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/notebook2.jpg">
						</td>
						<td>
							<span> Notebook ASUS com Intel Celeron 2GB, 500GB, Windows 8 Tela 14´ X451CA-BRAL-VX106H Preto</span>
                            <p>Notebook ASUS com Intel Celeron 2GB, 500GB, Windows 8 Tela 14´ X451CA-BRAL-VX106H Preto ..</p>
						</td>
						<td >
							<h5>RS 1.058,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/notebook3.jpg">
						</td>
						<td>
							<span> Notebook ASUS com Intel Core i3-3217U, 4GB, HD 500GB, Windows 8.1, Tela HD 14´, Preto X451CA-BRAL-VX155H</span>
                            <p>Notebook ASUS com Intel Core i3-3217U, 4GB, HD 500GB, Windows 8.1, Tela HD 14´, Preto X451CA-BRAL-VX155H..</p>
						</td>
						<td>
							<h5>RS 1.646,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/notebook4.jpg">
						</td>
						<td>
							<span> Notebook Acer 15.6 LED E1-572-6_BR800 i3-4010U 4GB 500GB W8S + Fone de Ouvido Branco</span>
                            <p>Notebook Acer 15.6 LED E1-572-6_BR800 i3-4010U 4GB 500GB W8S + Fone de Ouvido Branco      ...</p>
						</td>
						<td>
							<h5>RS 1.705,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/notebook5.jpg">
						</td>
						<td>
							<span> Notebook ASUS com Intel Core i5-4200U, 4GB, HD 500GB, Windows 8.1, Tela 14´, Preto X450LA-BRA-WX084H</span>
                            <p>Notebook ASUS com Intel Core i5-4200U, 4GB, HD 500GB, Windows 8.1, Tela 14´, Preto X450LA-BRA-WX084H ..</p>
						</td>
						<td>
							<h5>RS 1,969,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}