{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/walk_talk1.jpg">

						</td>
						<td >

                                <span>  IntelBras Rádio Walk-Talk Twin 9,6 Preto</span>
                                <p>O Intelbras Twin 9,6 possui visor iluminado, clip belt, 5 opções de toque, bloqueio de teclado e uma novidade: carregadores independentes. Comunicação..
						</td>
						<td class="col-md-2">
							<h5>R$ 369,90</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/walk_talk2.jpg">
						</td>
						<td>
							<span>  IntelBras Rádio Twin Waterproof Preto/Amarelo - 4000088</span>
                            <p>O Twin Waterproof acompanha qualquer aventura. Radiocomunicador à prova d’água e poeira, com bases carregadoras independentes, 26 canais de operação e..</p>
						</td>
						<td >
							<h5>RS 409,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/walk_talk3.jpg">
						</td>
						<td>
							<span>  Cobra Rádio de Comunicação 48 Km CXR825</span>
                            <p>Cobra Rádio de Comunicação 48 Km CXR825 ...</p>
						</td>
						<td>
							<h5>RS 420,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/walk_talk4.jpg">
						</td>
						<td>
							<span> Cobra Walk-Talk CXT135</span>
                            <p>Este rádio é uma opção acessível e compacto para todos, desde o iniciante até o profissional de rádio entusiasta!..</p>
						</td>
						<td>
							<h5>RS 222,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/walk_talk5.jpg">
						</td>
						<td>
							<span>  Cobra Rádio de Comunicação CXR725</span>
                            <p>Cobra Rádio de Comunicação CXR725..</p>
						</td>
						<td>
							<h5>RS 399,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}