{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">

		<h3>{{ categoria }}</h3>
			<table class="table">
				<tbody>
                    {%  for produto in produto_lista %}
                        <tr>

                            <td>

                                    <img src="{{ produto.imagem }}" width="90px" height="90px">

                            </td>
                            <td >

                                    <span>{{ produto.titulo }}</span>
                                    <p>{{ produto.descricao }} </p>
                            </td>
                            <td class="col-md-2">
                                <h5>{{ produto.preco }}</h5>
                            </td>
                            <td>
                                <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
                            </td>
                        </tr>
                    {% endfor %}

{% endblock %}