{% extends 'editar_produtos/editar_produto_base.html' %}
{% set errors=errors or None %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/produto/js/produto.js"></script>
{#      <script type="text/javascript" src="/static/produto/js/produto_api_mock.js"></script>#}
    <script type="text/javascript">
        var rest = angular.module('rest',[]);
        rest.factory('ProdutoApi',function($http){
           return{
               salvar:function(produto){
                   return $http.post('{{ rest_new_path }}',produto);
               },
               listar:function(){
                   return $http.post('{{ list_path }}');
               }
           };
        });

        var produtoApp = angular.module('produtoApp',['produtoModulo','rest']);

        function ProdutoController($scope,ProdutoApi){
            $scope.produto = {nome:'Computador',titulo:'Computador'};
            $scope.mostrarFormFlag=false;
            $scope.produtoLista = [];
            ProdutoApi.listar().success(function(produtos){
                $scope.produtoLista = produtos;
            });
            $scope.mostrarOuEsconderForm=function(){
                $scope.mostrarFormFlag=!$scope.mostrarFormFlag;
            };

            $scope.adicionarProduto = function(produto){
                $scope.produtoLista.unshift(produto)
            }
        }
    </script>
{% endblock %}
{% block body %}
    <div class="container" style="background-color: #FFFFFF" >
        <div class="row">
            <div class="col-md-12" ng-app="produtoApp" ng-controller="ProdutoController">
                 <h1 class="text-center">Tabela de Produtos</h1>
                    <button class="btn btn-success" ng-click="mostrarOuEsconderForm()" save-complete="adicionarProduto(produto)">Cadastrar Novo Produto</button>
                <br>
                <br>
                <produtoform ng-show="mostrarFormFlag" product="produto"></produtoform>
                <h7>categoria: </h7><input type="text" ng-model="produto.nome">
                <hr/>
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Creation{% endtrans %}</th>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Preco{% endtrans %}</th>
                        <th>{% trans %}Descricao{% endtrans %}</th>
                        <th>{% trans %}Imagem{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr produtolinha="" ng-repeat="p in produtoLista"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}