{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/hd1.jpg">

						</td>
						<td >

                                <span> HD Seagate SATA III Barracuda 7200 1TB ST1000DM003</span>
                            <p>HD Seagate SATA III Barracuda 7200 1TB ST1000DM003..</p>
						</td>
						<td class="col-md-2">
							<h5>R$ 299,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/hd2.jpg">
						</td>
						<td>
							<span>HD Samsung Externo USB 3.0 Portátil 1TB (1000 GB) Preto - HX-M101TCB PR10</span>
                            <p>HD Samsung Externo USB 3.0 Portátil 1TB (1000 GB) Preto - HX-M101TCB PR10 ..</p>
						</td>
						<td >
							<h5>RS 305,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/hd3.jpg">
						</td>
						<td>
							<span> HD WD 1000GB 7200rpm 64MB Cache SATA 6.0Gb/s 3.5´´ WD10EZEX</span>
                            <p>HD WD 1000GB 7200rpm 64MB Cache SATA 6.0Gb/s 3.5´´ WD10EZEX..</p>
						</td>
						<td>
							<h5>RS 294,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/hd4.jpg">
						</td>
						<td>
							<span>  HD Seagate SATA 3 500GB 7200RPM 6.0Gb/s ST500DM002</span>
                            <p>HD Seagate SATA 3 500GB 7200RPM 6.0Gb/s ST500DM002 ...</p>
						</td>
						<td>
							<h5>RS 258,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/hd5.jpg">
						</td>
						<td>
							<span>HD Seagate Portátil Expansion USB 3.0 1TB Black - STBX1000101</span>
                            <p>HD Seagate Portátil Expansion USB 3.0 1TB Black - STBX1000101 ..</p>
						</td>
						<td>
							<h5>RS 282,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}