{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/smarthphone1_acessorios.jpg">

						</td>
						<td >

                                <span> Capa para Moto E Motorola Shells - Pack com 2 Capas Coloridas 89745N Blue/Spearmint</span>
                                <p>Capa para Moto E Motorola Shells - Pack com 2 Capas Coloridas 89745N Blue/Spearmint

						</td>
						<td class="col-md-2">
							<h5>R$ 11,64</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/smarthphone2_acessorios.jpg">
						</td>
						<td>
							<span> Empire Película de Vidro Temperado Lisa para Galaxy S4 Mini 3125</span>
                            <p>Agora seu celular estará mais protegido com a Película De Vidro Temperado Galaxy S4 Mini Lisa da Empire você terá mais transparência no visor e resist..</p>
						</td>
						<td >
							<h5>RS 23,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/smarthphone3_acessorios.jpg">
						</td>
						<td>
							<span>  Trust Carregador Portátil Power Bank 4400 mAh 19858 Azul</span>
                            <p>Carregador portátil com bateria incorporada de 4400 mAh para carregar o telemóvel ou o tablet em todo o lado..</p>
						</td>
						<td>
							<h5>RS 89,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/smarthphone4_acessorios.jpg">
						</td>
						<td>
							<span>  Multilaser Suporte Universal com Clipe para Smartphone AC178</span>
                            <p>Multilaser Suporte Universal com Clipe para Smartphone AC178...</p>
						</td>
						<td>
							<h5>RS 36,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/smarthphone5_acessorios.jpg">
						</td>
						<td>
							<span> Empire Cabo Galaxy S3 para Pen Drive 2014</span>
                            <p>O Cabo Galaxy S3 para Pen Drive é um produtos de alto desempenho o adaptador OTG Micro USB para USB foi desenvolvido para estender a conectividade do ..</p>
						</td>
						<td>
							<h5>RS 12,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}