{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/impressoras1.jpg">

						</td>
						<td >

                                <span> Impressora HP Multifuncional Deskjet Wi-Fi Jato de Tinta 2546 (A9U24A)</span>
                                <p>Impressora HP Multifuncional Deskjet Wi-Fi Jato de Tinta 2546 (A9U24A) ... </p>
						</td>
						<td class="col-md-2">
							<h5>R$ 299,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/impressoras2.jpg">
						</td>
						<td>
							<span>  Impressora HP Officejet Pro 6230e 7T E3E03A</span>
                            <p>Impressora HP Officejet Pro 6230e 7T E3E03A..</p>
						</td>
						<td >
							<h5>RS 270,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/impressoras3.jpg">
						</td>
						<td>
							<span> Impressora HP Multifuncional Officejet Pro 6830 e-AIO 7T E3E02A</span>
                            <p>Impressora HP Multifuncional Officejet Pro 6830 e-AIO 7T E3E02A..</p>
						</td>
						<td>
							<h5>RS 446,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/impressoras4.jpg">
						</td>
						<td>
							<span> Impressora Epson Multifuncional Tanque de Tinta - L210</span>
                            <p>Impressora Epson Multifuncional Tanque de Tinta - L210..</p>
						</td>
						<td>
							<h5>RS 776,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/impressoras5.jpg">
						</td>
						<td>
							<span>  Impressora Epson Multifuncional Jato de Tinta Wi-Fi - XP-214</span>
                            <p>Impressora Epson Multifuncional Jato de Tinta Wi-Fi - XP-214..</p>
						</td>
						<td>
							<h5>RS 310,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}