{% extends 'home.html' %}
{% block meio %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-9 column" id="tabelacelular">
			<table class="table">
				<tbody>
					<tr>
						<td>

							    <img src="../../static/img/telefone1.jpg">

						</td>
						<td >

                                <span> Telefone Philips Sem Fio Dect 6.0 com ID Viva Voz D4001B/BR Preto</span>
                                <p>A tecnologia deve ser simples.Pensando nisso,desenvolvemos este telefone não somente afim de oferecer um som de altíssima qualidade,como também ofere...
						</td>
						<td class="col-md-2">
							<h5>R$ 139,68</h5>
						</td>
						<td>
                            <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="active">
						<td>
							<img src="../../static/img/telefone2.jpg">
						</td>
						<td>
							<span> IntelBras Telefone com Fio TC 60 ID Preto </span>
                            <p>Veja quem está ligando para você com o novo TC60 id Intelbras. Um telefone com design moderno e resistente, além de funções práticas como a tecla Viva..</p>
						</td>
						<td >
							<h5>RS 78,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/telefone3.jpg">
						</td>
						<td>
							<span> Telefone Vtech Sem Fio Lyrix 500 Dect 6.0 c/ ID Preto</span>
                            <p>A linha de Telefones Digitais sem Fio Lyrix tem um design inovador. Pratico de usar, possui identificador de chamadas e agenda para 20 números além da..</p>
						</td>
						<td>
							<h5>RS 101,90</h5>
						</td>
						<td>
							 <p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/telefone4.jpg">
						</td>
						<td>
							<span> Motorola Telefone Digital Sem Fio c/ ID de Chamadas, Bluetooth e Viva-Voz GATE4800BT</span>
                            <p>O Telefone Digital sem fio Motorola Gate4800BT é pratico de usar. Possui a Tecnologia Multi Ramal Digital (DECT 6.0) expansível para até 5 ramais (Pri..</p>
						</td>
						<td>
							<h5>RS 103,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
					<tr class="success">
						<td>
							<img src="../../static/img/telefone5.jpg">
						</td>
						<td>
							<span>  Telefone Intelbras Sem fioTS 8220 Amarelo</span>
                            <p>Com duas posições de encaixe e display luminoso com tela expandida, o TS 8220 faz parte da linha de telefones design da Intelbras. Apresenta cinco opç..</p>
						</td>
						<td>
							<h5>RS 188,90</h5>
						</td>
						<td>
							<p><img src="../static/img/icone_carrinho.png"><a class="btn btn-primary" href="#">Comprar <a class="btn" href="#">Para todo Brasil</a></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}